<%- include("header"); -%>

<div class="container">

    <div class="row">
      <div class="col-6 col-sm-6" id="photo">

        <img src="test.jpg">
      </div>
      <div class="col-6 col-sm-4" id="abouttext"> <p>

        <div class="mx-auto" id="split">
            WHO AM I
          </div>
          <p>
        Super curious, enjoying learn. and able to spend hours, days , weeks to find solutions for how to do it questions
            </p><div class="mx-auto" id="split">
              SKILLS
              </div>
              <table class="table table-borderless">
                  <tr>
                    <td>
                    Problem Solving
                    </td>
                    <td>
                      ⭐️⭐️⭐️⭐️⭐️
                      </td>
                    </tr>
                    <tr>
                      <td>
                      Teamwork
                      </td>
                      <td>
                        ⭐️⭐️⭐️⭐️⭐️
                        </td>
                      </tr>
                      <tr>
                        <td>
                        Communication
                        </td>
                        <td>
                          ⭐️⭐️⭐️⭐️
                          </td>
                        </tr>
              </table>
              <div class="mx-auto" id="split">
                  CODING
                </div>
                <table class="table table-borderless">
                  <tr>
                    <td>
                    <b>Javascript</b>(Node,Express,EJS)
                    </td>
                    <td>
                      ⭐️⭐️⭐️⭐️
                      </td>
                    </tr>
                    <tr>
                      <td>
                      C# & .NET
                      </td>
                      <td>
                        ⭐️⭐️⭐️⭐️
                        </td>
                      </tr>
                      <tr>
                        <td>
                        SQL, MYSQL and NoSql (<b>Mongo</b>)
                        </td>
                        <td>
                          ⭐️⭐️⭐️⭐️
                          </td>
                        </tr>
                      <tr>
                        <td>
                        Flutter Native
                        </td>
                        <td>
                          ⭐️⭐️⭐️⭐️
                          </td>
                        </tr>
                      <tr>
                        <td>
                        OOP
                        </td>
                        <td>
                          ⭐️⭐️⭐️⭐️⭐️
                          </td>
                        </tr>
                        <tr>
                          <td>
                          SOLID Princeples
                          </td>
                          <td>
                            ⭐️⭐️⭐️⭐️
                            </td>
                          </tr>
                </table>
      </div>


    </div>


</div>
<%- include("footer") -%>
