<%- include("header") -%>
<div class="container">
    <div class="row">
      <div class="col-6 col-sm-6" id="photo">

        <img src="test.jpg" style="margin-right:60px;">
      </div>
      <div class="col-6 col-sm-4" id="abouttext"><%= aboutMe %></div>


    </div>


</div>

<div class="mx-auto" id="split">
    BIOGRAPHY
  </div>
<div class="col">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a turpis eget tortor aliquet fringilla a vulputate neque. Proin quis enim vitae ipsum dictum porta ut vitae leo. Suspendisse at aliquet ligula, at blandit odio. Donec non mauris feugiat, elementum neque quis, luctus massa. Mauris in risus id massa tincidunt rhoncus in at lacus. Vestibulum nec odio sed odio iaculis tempor. Quisque vulputate congue odio vel rutrum.

    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam imperdiet porta est, vel finibus libero bibendum a. Suspendisse diam quam, blandit ut dolor interdum, sollicitudin condimentum leo. In fringilla dignissim eros, ac dapibus quam. Fusce euismod non tortor non lobortis. Sed iaculis nunc in congue semper. Nulla ac purus dolor. Donec nec ipsum ac libero ornare finibus.

    Duis facilisis erat nibh, eu sodales lacus placerat quis. Etiam est quam, rhoncus et dolor ac, faucibus sagittis lectus. Nullam eget urna orci. Cras semper bibendum aliquet. Sed nec tellus et ipsum vehicula commodo consequat sit amet turpis. Praesent feugiat ex sed lacinia finibus. Praesent vitae placerat turpis. Pellentesque maximus, odio faucibus mattis scelerisque, erat lorem feugiat ipsum, vitae tristique risus purus et purus.

    Vivamus sollicitudin sed ante non suscipit. Donec ac massa faucibus sapien volutpat gravida id ac arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean aliquet, leo vel volutpat faucibus, ante tellus gravida nunc, at ultricies sem dui nec eros. In fringilla cursus bibendum. In quis molestie tortor. Cras volutpat faucibus mi eget auctor. Pellentesque maximus, orci ac gravida imperdiet, metus mi molestie nisi, eu dictum orci leo eget tellus. Proin sapien nisl, dictum in luctus lacinia, imperdiet ac neque. Ut pharetra eros eros, quis condimentum odio vestibulum eget. Maecenas sagittis nibh ac ultricies bibendum.

    Morbi sapien nulla, consectetur vitae egestas non, maximus sit amet mauris. Ut ac eros in elit varius luctus dignissim sed urna. Aenean hendrerit sapien ullamcorper commodo ornare. Nunc at arcu venenatis tortor faucibus placerat. Mauris laoreet mauris magna, sit amet facilisis felis bibendum a. Nulla facilisi. Curabitur venenatis massa at arcu tincidunt, scelerisque suscipit ligula pellentesque. Aenean fermentum tempus rutrum. Cras fermentum nibh ac cursus lobortis. Sed nisi magna, aliquam id lorem non, laoreet molestie dui. Nulla et mauris lobortis, volutpat sapien a, viverra neque. Vestibulum venenatis facilisis massa, vel placerat lorem aliquam sed. Sed a libero nunc. Donec semper tortor eu metus tincidunt sollicitudin. Aenean cursus varius ante a luctus. Integer suscipit ex diam, non scelerisque ligula pellentesque in.
</div>

  </div>





<%- include("footer") -%>
